import(sm, boot)

export(epitiming, epimem, memintensity, memtrend)

S3method(plot, epidemic)
S3method(summary, epidemic)
S3method(print, epidemic)
S3method(plot, flu)
S3method(summary, flu)
S3method(print, flu)
